
<button type="button" class="btnAgregar btn btn-dark" (click)="openModalAdd()">Agregar <i class="fa fa-plus"></i></button>

<table class=" tablem table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Marca</th>
            <th scope="col">Submarca</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Modelo</th>
            <th scope="col"> </th>
            <th scope="col"> </th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="displayProgressBar">
            <th colspan="7">
                <ngb-progressbar type="dark" [value]="100" [striped]=true [animated]=true></ngb-progressbar>
            </th>
        </tr>

        <tr *ngFor='let auto of autos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize'>
            <th scope="row">{{auto._id}}</th>
            <td>
                {{auto.marca}}
            </td>
            <td>
                {{auto.submarca}}
            </td>
            <td>
                {{auto.descripcion}}
            </td>
            <td>
                {{auto.modelos | formatoModelos }}
            </td>
            <td (click)="openModalEditar(auto)">
                <i class="fas fa-edit"></i>
            </td>
            <td>
                <i class="fas fa-trash" (click)="OpenModalEliminar(auto)"></i>
            </td>
        </tr>
        
    </tbody>
</table>

<ngb-pagination
 [collectionSize]="autos.length"
 [(page)]="page"
 [pageSize]="pageSize"
 aria-label="Default pagination" ></ngb-pagination>