<br>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Marca</th>
            <th scope="col">Submarca</th>
            <th scope="col">Descripcion</th>
            <th scope="col"> </th>
            <th scope="col"> </th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let auto of autos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize'>
            <td>

            </td>
            <td>
                {{auto.marca}}
            </td>
            <td>
                {{auto.submarca}}
            </td>
            <td>
                {{auto.descripcion}}
            </td>
            <td (click)="openModalEditar(auto)">
                <i class="fas fa-edit"></i>
            </td>
            <td>
                <i class="fas fa-trash"></i>
            </td>
        </tr>
        
    </tbody>
</table>

<ngb-pagination
 [collectionSize]="autos.length"
 [(page)]="page"
 [pageSize]="pageSize"
 aria-label="Default pagination" ></ngb-pagination>