<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Eliminar</h4>
 <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
<p>Desea eliminar el automovil: {{auto.descripcion}} </p>
<p>Esta operación es irreversible.</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('cancel click')" >Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(auto)">OK</button>
</div>
