<ng-container *ngFor='let auto of autos'>
<div class="item">
    <div id="info" ><i class="fas fa-info-circle" (click)="onSelect(auto)" (click)="open(content)"></i></div>
    <div>{{auto.descripcion}}</div>
</div>
</ng-container>

<ng-template #content let-modal>
 <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Detalles</h4>
 
 <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
<form>
    <div class="form-list">Marca: {{autoSeleccionado.marca}}</div>
    <div class="form-list">Fecha Registro:{{autoSeleccionado.submarca}}</div>
    <div class="form-list">Fecha Registro:{{autoSeleccionado.modelo}}</div>
</form>

</div>
</ng-template>

